<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	<hibernate-configuration>
	<session-factory>
	<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
	<property name="connection.url">jdbc:mysql://localhost:3306/learnersacademy</property>
	<property name="connection.username">root</property>
	<property name="connection.password">priyanshig341@2000</property>
	<property name="hbm2ddl.auto">update</property>
	<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
	
    <mapping class="out.simplilearnproject.com.AdminTable"/>
     <mapping class="out.simplilearnproject.com.ClassesTable"/>
      <mapping class="out.simplilearnproject.com.StudentTable"/>
       <mapping class="out.simplilearnproject.com.TeacherTable"/>
        <mapping class="out.simplilearnproject.com.SubjectTable"/>
	
	</session-factory>
	</hibernate-configuration>